[submodule "resources/glfw"]
	path = resources/glfw
	url = https://github.com/glfw/glfw.git
[submodule "resources/glew-cmake"]
	path = resources/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "resources/glm"]
	path = resources/glm
	url = https://github.com/g-truc/glm.git
[submodule "resources/stb"]
	path = resources/stb
	url = https://github.com/nothings/stb.git
